.UserViewItems{
    background:linear-gradient(rgb(132, 132, 154),rgb(204, 164, 204));
    padding: 20px;
}
.UserViewItems>.sub_items>.card1{
    display: flex;
    padding: 0px 0px 100px 0px;
}
.UserViewItems>.sub_items>.card1>.description{
    padding: 20px;

}
.UserViewItems>.sub_items>.card1>.thumnail{
    padding: 20px;
}
.thumnail> img{
    height: 280px;
    width: 250px;
    border-radius: 10px;
}
.thumnail> img:hover{
    box-shadow: 0px 0px 10px white;

}